# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual Env
# =====================
.venv/
venv/
env/

# =====================
# Model / AI files
# =====================
*.pth
*.pt
*.onnx

# =====================
# Feature files
# =====================
*.npy

# =====================
# Upload folder
# =====================
static/uploads/*
!static/uploads/.gitkeep

# =====================
# Database
# =====================
*.db

# =====================
# macOS / Windows
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.idea/
.vscode/